<!DOCTYPE html>
{% load static %}
{% load thumbnail %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Anime pictures tegger</title>
</head>
<body>
    <div class="page_icon">
      <img src={% static 'icons/Tartaglia.png' %}>
      <p class="page_icon_text">ImageTagger</p>
    </div>
    <div class="main_block">
        <div class="links">
            <a class="a_profile link" href="#">Profile</a>
            <a class="a_posts link" href="#">Posts</a>
            <a class="a_comments link" href="#">Comments</a>
            <a class="a_tags link" href="#">Tags</a>
            <a class="a_forum link" href="#">Forum</a>
        </div>
        <form class="searcher"><input type="search" name="q" placeholder="Input tag" value="{{ q|default:"" }}">
        <input type="submit" value="Search"></form>
    </div>
    <div class="main_images_href">
        {% for image in images %}
        <a href="#">
            <img src={%thumbnail image.image 150x150%}>
        </a>
        {% endfor %}
    </div>
    <div>
      <ul class="tag_list">
        {% for tag in tags %}
          <li>
            <a href="{% url 'images:image_list' %}?q={{ tag.name }}">{{ tag.name }}({{ tag.count }})</a>
          </li>
        {% endfor %}
      </ul>
    </div>
</body>
</html>
