{% extends 'base.html' %}

{% block content %}
    <form class="auth-form" action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_error }}
        {% for field in form %}
            <div class="form-fied">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock %}
