body {
  width: 100%;
  height: 100%;
  background-color: #64adde;
  margin: 0;
  padding: 0;
}

.main_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e0eef8;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  width: 100px;
  height: 50px;
  background-color: blue;
}

.searcher {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.main_block a:hover {
  color: #2b3b45;
  background-color: #92c5e7;
  transition-duration: 2s;
}

.main_block a {
  text-decoration: none;
  background-color: #32566f;
  color: white;
  width: 100px;
  height: 40px;
  /*padding: 14px 25px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px;
  margin: 0px 5px;
 }

 .main_images_href {
   height: 300px;
   display: flex;
   margin: 50px 100px;
 }

 .main_images_href img{
   /*width: 100%;
   height: 100%;*/
 }

 input[type=search] {
	color: blue;
	text-align: left;
	cursor: pointer;
	display: block;
	width: 90%;
	text-shadow: 0 0 1px black;
}

input[type=submit] {
  background-color: #32566f;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

#main-search-suggestions {
  position: absolute;
  padding: 0;

}

.page_icon {
  display: flex;
}

.page_icon_text {
  font-size: 100px;
  margin-bottom: 0;
}

.page_icon img {
  width: 300px;
  height: 300px;
}

.content {
  display: flex;
  flex-direction: column;
}

.picture-list {
  display: flex;
  flex-wrap: wrap;
}

.picture-list li {
  margin-left: 10px;
}

li {
  list-style-type: none;
}
